CLIENT_GATEWAY_PORT=3000

PAYMENTS_MS_PORT=3003
STRIPE_SECRET=ancncsscncsi

#signing secret of webhook
STRIPE_ENDPOINT_SECRET=abcbcscs
STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel

AUTH_MS_PORT=3004
